@charset "UTF-8";
/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*Partials*/
/*Variables*/
/*colores de fondo y fuente - ver mixins.scss*/
/*Maps*/
/*Reset Gral - Ver basics.scss*/
/*Map que Define la Paleta de Colores del Proyecto - Ver basics.scss*/
/*Mixins*/
/*Cambiar colores de fondo y texto de un componento o elemento*/
/*Reset Gral*/
* {
  /*Map Sass - Ver Map_Mixins.scss*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header #header {
  z-index: 2;
  width: 100vw; }

body {
  background-color: #c7b69f;
  /*aplicando variables*/
  color: #69503c;
  /*aplicando variables*/ }

/*ajustes en footer*/
footer .logosRedes img {
  width: 65px; }

footer .pieTexto {
  font-size: 1rem;
  z-index: 2; }

footer .pie {
  height: 18vh;
  background-color: #ab9680; }

/*Ajuste de cards de bootstrap generico*/
.card {
  background-color: #c9beb0;
  color: #69503c; }
  .card:hover {
    background-color: #413e3e;
    color: #faf1f1; }

/*ajuste de Card de bootstrap en index.html*/
section .cardIndex {
  padding: 10px; }

/*Barra de Navegacion Gral *** Ver Mixin ****/
.nav {
  margin-top: 120px;
  background-color: #ab9680;
  --bs-nav-link-color: $body_font_color;
  --bs-nav-link-hover-color: $color_fuente; }
  .nav-item {
    padding: 5px; }
  .nav-link {
    padding: 2px;
    font-size: 0.9rem;
    font-weight: 5px;
    color: #faf1f1;
    text-decoration: #69503c;
    background-color: #ab9680;
    text-decoration-color: #69503c; }
    .nav-link:hover {
      font-size: 1rem;
      color: #69503c; }

.navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  flex-direction: column; }

#navbarNav {
  background-color: #ab9680; }

.navbar-collapse {
  position: relative;
  top: -12px;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: top; }

.navbar-toggler {
  position: relative;
  top: -15px;
  background-color: #ab9680; }
  .navbar-toggler:hover {
    text-decoration: none; }

/*Boton General*/
.btn {
  background-color: #ab9680;
  z-index: 2;
  width: 8rem;
  border-color: #ab9680; }
  .btn:active {
    background-color: #ab9680 !important;
    z-index: 2;
    width: 8rem;
    border-color: #ab9680 !important; }
  .btn:hover {
    color: #69503c; }

/*ajustes en contacto.html*/
main #formulario_contacto {
  background-color: #c9beb0 !important;
  margin-top: 97px !important; }
  main #formulario_contacto #formulario {
    margin-top: 50px !important; }
    main #formulario_contacto #formulario .form-control {
      text-align: center !important;
      color: #69503c !important;
      background-color: #faf1f1 !important;
      border: #c9beb0 1px solid !important; }

/*trae logo de whastApp al frente*/
a .logoWhatsApp {
  z-index: 2;
  bottom: 150px !important; }

/*keyframes animaciones logo_header y titulo principal para tods las paginas .html*/
@keyframes rotar {
  0% {
    transform: scale(2);
    transform: rotate3d(1, 1, 1, 180deg); }
  100% {
    transform: scale(1);
    transform: rotate3d(1, 1, 1, 360deg); } }

@keyframes escalar {
  0% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }

/*animacion Logo header*/
header #logo_header {
  animation-name: rotar;
  animation-duration: 1.5s; }

/*Animacion Titulos principales de cada pagina*/
main .titulo_main, main #titulo_inicio, main #txt_tituloSecundario, main .titulo_main .h1_titulo_inicio, main .titulo_main .h2_titulo_inicio, main #titulo_cabanas {
  animation-name: escalar;
  animation-duration: 1.5s; }

/*ToolTip para iconos de servicios*/
main .servicios_iconos .tooltip-container {
  position: absolute;
  cursor: pointer; }
  main .servicios_iconos .tooltip-container .tooltip-one {
    display: none; }
  main .servicios_iconos .tooltip-container-one {
    padding: 10px 32px;
    background: #fff;
    position: relative;
    min-width: 150px;
    max-width: 180px;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0 3px 5px #ccc);
    line-height: 1.5; }
    main .servicios_iconos .tooltip-container-one:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 50%;
      margin-left: -9px;
      width: 18px;
      height: 18px;
      background: white;
      transform: rotate(45deg); }

/*Overlay imagenes index.html*/
.card_texto_lista .img_overlay {
  position: relative; }
  .card_texto_lista .img_overlay:hover img {
    opacity: 0.2; }
  .card_texto_lista .img_overlay:hover .overlay {
    opacity: 1; }
  .card_texto_lista .img_overlay .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .card_texto_lista .img_overlay .overlay p {
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 0; }
  .card_texto_lista .img_overlay .overlay_detalle {
    font-size: 12px;
    font-weight: 600; }

/*Animación Iconos Barra Cabanas.html*/
.menu_cabanias .icon_cabania:hover {
  width: 38px !important; }

/*Animación Logo de Whatsapp Hover*/
main .logoWhatsApp:hover {
  width: 70px !important;
  background-image: "./assets/images/whatsapp_.png"; }

/*Animacion de Logos de Redes Sociales*/
.logoInst a img:hover {
  width: 55px !important; }

.logoFace a img:hover {
  width: 55px !important; }

/*Titulos de Pagina - H1*/
main .titulo_main, main #titulo_inicio, main #txt_tituloSecundario, main .titulo_main .h1_titulo_inicio, main .titulo_main .h2_titulo_inicio, main #titulo_cabanas {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 700; }

/*Personalizacion index.html*/
main #titulo_inicio {
  padding: 3px;
  width: 100%;
  background-color: #69503c !important;
  color: #c9beb0; }

main #txt_tituloSecundario {
  padding: 3px;
  font-size: 1rem;
  width: 100%;
  background-color: #69503c;
  color: #c9beb0; }

main .titulo_main .h2_titulo_inicio, main #titulo_inicio .h2_titulo_inicio, main #txt_tituloSecundario .h2_titulo_inicio, main #titulo_cabanas .h2_titulo_inicio {
  font-size: 0.7rem;
  color: #c9beb0;
  font-weight: 600; }

main .card_texto_pres, main .card_texto_lista {
  font-size: 1.3rem;
  border-style: none;
  background-color: #c7b69f; }
  main .card_texto_pres:hover, main .card_texto_lista:hover {
    background-color: #c7b69f;
    color: #69503c; }
  main .card_texto_pres #txt_detalle, main .card_texto_lista #txt_detalle {
    font-size: 1rem; }

main .card_texto_lista .item1, main .card_texto_lista .item2, main .card_texto_lista .item3, main .card_texto_lista .item4, main .card_texto_lista .item5, main .card_texto_lista .item6 {
  padding: 2px;
  border-radius: 20px;
  box-shadow: 5px -9px 3px #69503c; }
  main .card_texto_lista .item1:hover, main .card_texto_lista .item2:hover, main .card_texto_lista .item3:hover, main .card_texto_lista .item4:hover, main .card_texto_lista .item5:hover, main .card_texto_lista .item6:hover {
    box-shadow: 5px -9px 3px #817d7d; }

/* Personalizacion cabanas.html */
main #titulo_cabanas {
  position: relative;
  top: 128px !important;
  padding: 5px;
  font-size: 1.3rem;
  width: 100%;
  background-color: #69503c;
  color: #c9beb0; }

.row_boton_arriba #link_arriba {
  text-decoration: none;
  color: white; }

/*ajustes en ubicacion.html*/
main #titulo_ubicacion {
  position: relative;
  top: 128px !important;
  padding: 5px;
  font-size: 1.3rem;
  width: 100%;
  background-color: #69503c;
  color: #c9beb0; }

main section div #card_mapa {
  position: relative;
  top: 120px; }

main section #card_texto {
  position: relative;
  top: 120px; }

main section #como_llegar {
  position: relative;
  top: 120px; }

#pie_ubicacion {
  position: relative;
  top: 150px; }

/*ajustes en servicios.html*/
main #titulo_servicios {
  position: relative;
  top: 128px !important;
  padding: 5px;
  font-size: 1.3rem;
  width: 100%;
  background-color: #69503c;
  color: #c9beb0; }

main #servicios_iconos {
  margin-top: 125px !important;
  background-color: #c9beb0; }

main #row_servicios .card {
  margin-top: 50px !important;
  height: 700px !important; }

/*Ajuste en servicios.html - tamaño de iconos*/
.servicios_iconos__img {
  width: 37px;
  padding: 1px; }

/*Ajuste iconos redes sociales en footer*/
footer #logosRedes img, article #logosRedes img {
  width: 65px; }

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0; }

/*ajuste breack points*/
@media (max-width: 319px) {
  /* Index.html - No visualiza texto en Overlay para dispositivos de menos de 320px*/
  .card_texto_lista .img_overlay {
    position: relative; }
    .card_texto_lista .img_overlay:hover img {
      opacity: 1; }
    .card_texto_lista .img_overlay:hover .overlay {
      opacity: 0; } }

@media (max-width: 375px) {
  /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
  .card_texto_lista .img_overlay .overlay {
    top: 40%; }
    .card_texto_lista .img_overlay .overlay p {
      font-size: 9px;
      font-weight: 600;
      margin-bottom: 0; }
  .card_texto_lista .overlay_detalle {
    font-size: 10px; }
  /*Ajuste en servicios.html - tamaño de iconos*/
  .servicios_iconos__img {
    width: 29px !important;
    padding: 2px; } }

@media (max-width: 475px) {
  main .titulo_main .h1_titulo_inicio, main #titulo_inicio .h1_titulo_inicio, main #txt_tituloSecundario .h1_titulo_inicio, main #titulo_cabanas .h1_titulo_inicio {
    font-size: 1rem; }
  main .actividades__icons__txt {
    font-size: 0.6rem !important; }
  main .actividades__icons img {
    width: 40px !important; }
  footer .pieTexto {
    font-size: 0.8rem;
    z-index: 2; }
  /*reduce el tamaño del logo de whatsapp en dispositivos pequeños*/
  a .logoWhatsApp {
    width: 50px !important; }
  .card__title__txt {
    font-size: 0.8rem !important; } }

@media (max-width: 575px) {
  /*en cabanas.html Visualiza Barra de Navegacion para dispositivos pequeños*/
  .menu_cabanias .icon_cabania {
    display: block;
    width: 35px !important; } }

@media (min-width: 576px) {
  /*en cabanas.html Oculta Barra de Navegacion para dispositivos de mas de 575px*/
  .menu_cabanias {
    background-color: #c7b69f; }
    .menu_cabanias .icon_cabania {
      display: none; } }

@media (max-width: 768px) {
  /*Ajustes en ubicacion.html*/
  section #rowUbicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    section #rowUbicacion #card_mapa {
      position: relative;
      top: 100px; }
    section #rowUbicacion #card_texto {
      margin-top: 10px; }
  .cardIndex img {
    width: 100% !important; } }

@media (min-width: 768px) {
  nav .nav-item {
    padding: 15px; }
  h1 .titulo_main, h1 main #titulo_inicio, main h1 #titulo_inicio, h1 main #txt_tituloSecundario, main h1 #txt_tituloSecundario, h1 main .titulo_main .h1_titulo_inicio, main .titulo_main h1 .h1_titulo_inicio, h1 main .titulo_main .h2_titulo_inicio, main .titulo_main h1 .h2_titulo_inicio, h1 main #titulo_cabanas, main h1 #titulo_cabanas {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; }
  h1 #titulo_servicios {
    position: relative;
    top: 100px !important; }
  .actividades__icons {
    width: 85%; } }

@media (min-width: 888px) {
  /*Barra de Navegacion Gral -- Ajuste de Tamaño de Fuente*/
  .nav-link {
    font-size: 1rem; }
    .nav-link:hover {
      font-size: 1.1rem; }
  /*juste de cards en cabanas.hml*/
  .contenedor_card {
    margin-top: 10px;
    border-radius: 5px !important; }
    .contenedor_card .foto_cab1 {
      justify-content: end !important; }
    .contenedor_card .texto_cab1 {
      justify-content: start !important; }
    .contenedor_card .foto_cab2 {
      justify-content: start !important; }
    .contenedor_card .texto_cab2 {
      justify-content: end !important; }
    .contenedor_card .foto_cab3 {
      justify-content: end !important; }
    .contenedor_card .texto_cab3 {
      justify-content: start !important; }
    .contenedor_card .foto_cab4 {
      justify-content: start !important; }
    .contenedor_card .texto_cab4 {
      justify-content: end !important; }
    .contenedor_card .foto_cab5 {
      justify-content: end !important; }
    .contenedor_card .texto_cab5 {
      justify-content: start !important; }
    .contenedor_card .foto_cab6 {
      justify-content: start !important; }
    .contenedor_card .texto_cab6 {
      justify-content: end !important; } }

@media (min-width: 992px) {
  /*aumenta e tamaño del logo a partir de los 992px de pantalla*/
  header #logo_header {
    width: 390px !important; }
  /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
  .card_texto_lista .img_overlay .overlay {
    top: 40%; }
    .card_texto_lista .img_overlay .overlay p {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 0; }
  .card_texto_lista .overlay_detalle {
    font-size: 12px; }
  /*Ajuste en servicios.html - tamaño de iconos*/
  .servicios_iconos__img {
    width: 50px !important;
    padding: 5px; } }

@media (min-width: 576px) and (max-width: 997px) {
  /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
  .card_texto_lista .img_overlay .overlay {
    top: 40%; }
    .card_texto_lista .img_overlay .overlay p {
      font-size: 8px;
      font-weight: 600;
      margin-bottom: 0; }
  .card_texto_lista .overlay_detalle {
    font-size: 11px; }
  /*Ajuste en servicios.html - tamaño de iconos*/
  .servicios_iconos__img {
    width: 45px;
    padding: 5px; } }

@media (min-width: 475px) and (max-width: 575px) {
  /*Ajuste en servicios.html - tamaño de iconos*/
  .servicios_iconos__img {
    width: 45px !important;
    padding: 5px; } }
