/*keyframes animaciones logo_header y titulo principal para tods las paginas .html*/
@keyframes rotar{
    0%{
        transform: scale(2);
        transform: rotate3d(1, 1, 1, 180deg);
    }
    100%{
        transform: scale(1);
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
@keyframes escalar{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

/*animacion Logo header*/
 header {
    & #logo_header{
      animation-name: rotar;
      animation-duration: 1.5s;
    }
  }
/*Animacion Titulos principales de cada pagina*/
main{
    & .titulo_main{
          animation-name: escalar;
          animation-duration: 1.5s;
    }
}

/*ToolTip para iconos de servicios*/
main{
  & .servicios_iconos{
    & .tooltip{
      //tooltip contenedor
      &-container {
        position:absolute;
        cursor: pointer;
        //ocultar el tooltip
        .tooltip-one {
            display: none;
        }
      &-one {
        padding: 10px 32px;
        background: #fff;
        position: relative;
        min-width: 150px;
        max-width: 180px;
        border-radius: 5px;
        text-align: center;
        filter: drop-shadow(0 3px 5px #ccc);
        line-height: 1.5;
        &:after {
          content: "";
          position: absolute;
          bottom: -9px;
          left: 50%;
          margin-left: -9px;
          width: 18px;
          height: 18px;
          background: white;
          transform: rotate(45deg);
          }
        }
      } 
    }
  }
}

  /*Overlay imagenes index.html*/
  .card_texto_lista{
    & .img_overlay {
      position: relative;
      &:hover img {
        opacity: 0.2;
      }
      &:hover .overlay {
        opacity: 1;
      }
      & .overlay {
        transition: all 0.2s ease;
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        & p {
          font-size: 10px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
      & .overlay_detalle{
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  