/*Reset Gral*/
*{
    /*Map Sass - Ver Map_Mixins.scss*/
    margin:map-get($reset, marg);
    padding:map-get($reset, padd);
    box-sizing: map-get($reset, box-s);
}
header{
    & #header{
        z-index:2;
        width: 100vw;
    }
}


body{
    background-color: map-get($paleta_colores, color_cuerpo ); /*aplicando variables*/
    color:map-get($paleta_colores, color_fuente_cuerpo ) ; /*aplicando variables*/
}
/*ajustes en footer*/
footer{
    & .logosRedes img{
        width: 65px;
    }
    & .pieTexto{
        font-size: 1rem;
        z-index:2;
    }
    & .pie{
        height: 18vh;
        background-color:map-get($paleta_colores, color_pie );
    }
}


