
/*ajuste breack points*/

@media(max-width: 319px){
    /* Index.html - No visualiza texto en Overlay para dispositivos de menos de 320px*/
    .card_texto_lista{
        & .img_overlay {
          position: relative;
          &:hover img {
            opacity: 1;
          }
          &:hover .overlay {
            opacity: 0;
          }
        }
    }
    /*en cabanas.html Oculta Barra de Navegacion para dispositivos de mas de 575px*/
    .menu_cabanias{
        background-color:map-get($paleta_colores, color_cuerpo) ;
        & .icon_cabania{
            display:none !important;
        }
        & li{
            background-color: map-get($paleta_colores, color_cuerpo);
            & .nav-link{
                background-color: map-get($paleta_colores, color_cuerpo);
                color:map-get($paleta_colores, color_cuerpo);
            }
        }

    }
}

@media(max-width: 375px){
    /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
    .card_texto_lista{
        & .img_overlay {
          & .overlay {
            top: 40%;
            & p {
              font-size: 9px;
              font-weight: 600;
              margin-bottom: 0;
            }
          }
        }
        & .overlay_detalle{
            font-size: 10px;
        }
      }
      /*Ajuste en servicios.html - tamaño de iconos*/
      .servicios_iconos{
        &__img{
            width: 26px !important;
            padding: 2px;
            }
        }
        
    }

@media(min-width: 376px) and (max-width:575px){
/*Ajuste en servicios.html - tamaño de iconos*/
.servicios_iconos{
    &__img{
        width: 30px !important;
        padding: 2px;
        }
    }
}

@media(max-width: 475px){ 
    main{
        & .titulo_main{
            & .h1_titulo_inicio{
                font-size: 1rem;
            }
        }
    }
    footer{
        & .pieTexto{
             font-size: 0.8rem;
             z-index:2;
         } 
     }
    /*reduce el tamaño del logo de whatsapp en dispositivos pequeños*/
    a{
       & .logoWhatsApp{
            width: 50px !important;
       }
    }
    .card__title{
        &__txt{
            font-size: 0.8rem !important;
        }
    }
    
}
@media(max-width:575px){
    /*en cabanas.html Visualiza Barra de Navegacion para dispositivos pequeños*/
    .menu_cabanias{
        --bs-gutter-x: 1.5rem;
        
        & .icon_cabania{
            display:block;
            width: 32px !important;
        }
            
    }
}
@media(min-width:576px){
    /*en cabanas.html Oculta Barra de Navegacion para dispositivos de mas de 575px*/
    .menu_cabanias{
        background-color:map-get($paleta_colores, color_cuerpo) ;
        & .icon_cabania{
            display:none;
        }
        & li{
            background-color: map-get($paleta_colores, color_cuerpo);
            & .nav-link{
                background-color: map-get($paleta_colores, color_cuerpo);
                color:map-get($paleta_colores, color_cuerpo);
            }
        }

            
    }
}
@media(max-width: 768px){
    /*Ajustes en ubicacion.html*/
   section{
        & #rowUbicacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & #card_mapa{
                position: relative;
                top: 100px;
            }
            & #card_texto{
                margin-top: 10px;
             }   
        }
   } 
   .cardIndex{
    & img{
        width: 100% !important;
        }
    }
}

@media(min-width: 768px){
    nav{ 
       & .nav{
            &-item{
            padding: 15px;
        }
    }
}
    h1{
       & .titulo_main{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
        }
        & #titulo_servicios{
            position: relative;
            top: 100px !important;
        }
    }
    .actividades{
        &__icons{
            width: 85%;
        }
    }
}
@media(min-width: 888px){
    /*Barra de Navegacion Gral -- Ajuste de Tamaño de Fuente*/
    .nav{
        &-link {
            font-size: 1rem;
            &:hover{
                font-size: 1.1rem;
            }
        }
    } 
}

@media(min-width: 992px){
    /*aumenta e tamaño del logo a partir de los 992px de pantalla*/
    header{
        & #logo_header{
            width: 390px !important;
        }
    }
    /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
    .card_texto_lista{
        & .img_overlay {
            & .item2{
                width: 100% !important;
            }
        & .overlay {
            top: 40%;
            & p {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 0;
            }
        }
        }
        & .overlay_detalle{
            font-size: 12px;
        }
    }
    /*Ajuste en servicios.html - tamaño de iconos*/
    .servicios_iconos{
        &__img{
            width: 50px !important;
            padding: 5px;
            }
        }
        /*Ajusta la ubicacion del ToolTip para dispositivos grandes*/
        @for $i from 1 through 11{   
            .servicios_iconos{    
                & .icono#{$i}:hover{
                    & .txt_icono#{$i}{
                        top:225px;
                   }
                } 
            }
        }
}


@media(min-width: 576px) and (max-width:997px){
   /*Overlay imagenes index.html - ajuste de tamaño de fuente*/
  .card_texto_lista{
    & .img_overlay {
      & .overlay {
        top: 40%;
        & p {
          font-size: 8px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
    & .overlay_detalle{
        font-size: 11px;
    }
  }
   /*Ajuste en servicios.html - tamaño de iconos*/
   .servicios_iconos{
    &__img{
        width:40px;
        padding: 5px;
    }
}
}

