/*Ajuste de cards de bootstrap generico*/
.card{
    background-color: map-get($paleta_colores, color_tarjeta);
    color:map-get($paleta_colores, color_fuente_tarjeta);
    &:hover{
        @include invertir_colores_cards;
    }
}
/*ajuste de Card de bootstrap en index.html*/
section{
   & .cardIndex{
        padding: 10px;
    }
}


/*Barra de Navegacion Gral *** Ver Mixin ****/
.nav{
    @include barra_de_navegacion;
}
.navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    flex-direction: column;
}
#navbarNav{
    background-color:map-get($paleta_colores, color_pie);
}
.navbar{
    &-collapse {
        position: relative;
        top: -12px;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: top;
    }
    &-toggler{
        position: relative;
        top:-15px;
        background-color:map-get($paleta_colores, color_pie);
        &:hover{
            text-decoration:none;
        }
    }
}
/*Boton General*/
.btn {
    @include boton_gral;
}
/*ajustes en contacto.html*/
main{
    & #formulario_contacto{
        background-color:map-get($paleta_colores, color_tarjeta) !important;
        margin-top: 97px !important;
    & #formulario{
        margin-top: 50px !important;
        & .form-control {
            text-align: center !important;
            color:map-get($paleta_colores, color_fuente_cuerpo) !important;
            background-color:map-get($paleta_colores, color_fuente_invertido) !important;
            border:map-get($paleta_colores, color_tarjeta) 1px solid !important;   
        }
    }
}
}


/*trae logo de whastApp al frente*/
a{
    & .logoWhatsApp {
        z-index: 2;
        bottom: 150px !important; 
    }
}



