
/*Elimina gutters de bootstrap*/
.row{
    --bs-gutter-x: 0rem;
    scrollbar-gutter: none;
}

/*Logo Ecos del Valle en Cada Header*/
header{
    & #logo_header{
        width: 350px !important;
    }
}

/*Titulos de Pagina - H1*/
main{
    & .titulo_main{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
     
    }

}
/*Personalizacion index.html*/
main {
    & h3{
        font-size: 20px;
    }
    & .gutter_titulo_main{
        --bs-gutter-x: 1.5rem;
    }
    & section{
        & #ruta, #rutaCabanas{ 
            max-width: 100%;
            height: 50px;
            & nav{
                max-width: 85%;
                position: relative !important;
                left:30px;
                top:5px;
                & ol{
                    & li{
                        & a{
                            color:map-get($paleta_colores, color_fuente_invertido) !important;
                            text-decoration: none;
                        }
                    }
                } 
            }
        }
        & #rutaCabanas{
            & nav{
                height: 20px;
                top:120px;
            }
        }
    }
    & #titulo_inicio{
        @extend .titulo_main;
        padding: 3px;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo) !important;
        color:map-get($paleta_colores, color_tarjeta);
    }
    & #txt_tituloSecundario{
        @extend .titulo_main;
        padding: 3px;
        font-size: 1rem;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo);
        color:$card_color;
    }
    & .titulo_main{
        
        &  .h1_titulo_inicio{
            @extend .titulo_main;
        }
        &  .h2_titulo_inicio{
                @extend .titulo_main;
                font-size: 0.7rem;
                color: map-get($paleta_colores, color_tarjeta);
                font-weight: 600;
        }
    } 
    & .card_texto_pres{
        font-size: 1.3rem;
        border-style: none;
        background-color:map-get($paleta_colores, color_cuerpo);
        &:hover{
            background-color:map-get($paleta_colores, color_cuerpo);
            color:map-get($paleta_colores, color_fuente_cuerpo);
        }
        & #txt_detalle{
            font-size: 1rem;
        } 
        & #txt_detalle_2{
            font-size: 1rem;
            text-align: left;
            & a{
                text-decoration:none;
                color:map-get($paleta_colores, color_fuente_cuerpo);
                font-weight: 600;
                &:hover{
                    font-size: 1.1rem;
                }
            }
        }
    }
    & .card_texto_lista{
            @extend .card_texto_pres;
            .item1{
                padding:2px;
                border-radius: 20px;
                box-shadow: 5px -9px 3px #69503c;
                
                &:hover{
                    box-shadow: 5px -9px 3px rgb(129, 125, 125);
                }  
            }
            @for $i from 2 through 6{
                $a:($i)-1;  
                .item#{$i}{
                    @extend .item#{$a};
                }
            }
    }
}
/* Personalizacion cabanas.html */
main{ 
    & #titulo_cabanas{
        @extend .titulo_main;
        position: relative;
        top: 128px !important;
        padding: 5px;
        font-size: 1.3rem;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo);
        color:$card_color;
    }
}
.row_boton_arriba{
    & #link_arriba{
        text-decoration: none;
        color: map-get($paleta_colores, color_fuente_invertido);   
    }  
}

/*ajustes en ubicacion.html*/
main{
    & #titulo_ubicacion{
        position: relative;
        top: 128px !important;
        padding: 5px;
        font-size: 1.3rem;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo);
        color:map-get($paleta_colores, color_tarjeta);
    }
    & section{
        & div{
            & #card_mapa{
                position: relative;
                top: 120px;
            } 
        }
        & #card_texto{
            position: relative;
            top: 120px;
        } 
        & #como_llegar{
            position: relative ;
            top: 120px ;
        }
    }
}

#pie_ubicacion{
        position: relative ;
        top: 150px ;
}



/*ajustes en servicios.html*/
main{
    & #titulo_servicios{
        position: relative;
        top: 128px !important;
        padding: 5px;
        font-size: 1.3rem;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo);
        color:$card_color;
    }
    & .servicios_iconos{
        margin-top: 125px !important;
        background-color:map-get($paleta_colores, color_tarjeta);
        &__img{
            width:37px;
            padding: 1px;
        }
    }
    & #row_servicios{ 
        & .card{
           margin-top: 50px !important;
           height: 700px !important;
        }
    }
}

/*ajustes en galeria.html*/
main{
    & #titulo_galeria{
        position: relative;
        top: 128px !important;
        padding: 5px;
        font-size: 1.3rem;
        width: 100%; 
        background-color:map-get($paleta_colores, color_fuente_cuerpo);
        color:$card_color;
    }
    & #row_galeria{
        position: relative;
        top:70px; 
        & .card{
           margin-top: 50px !important;
           height: 700px !important;
        }
    }
}



/*Ajuste iconos redes sociales en footer*/
footer, article{
    & #logosRedes img{
        width: 65px;
    }
}

    @for $i from 1 through 11{   
        .txt_icono#{$i}{
                display: none;
               font-size: 5px;
            }
        }

/*ToolTip en Iconos servicios.hml*/
.servicios_iconos{
    @for $i from 1 through 11{   
        @if $i==1{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: flex;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==2{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==3{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==4{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==5{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==6{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==7{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==8{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==9{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==10{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    font-size: 0.8rem !important;
               }
            } 
        }@else if $i==11{    
            & .icono#{$i}:hover{
                & .txt_icono#{$i}{
                    display: block;
                    padding: 4px;
                    background-color:map-get($paleta_colores, color_pie);
                    color:map-get($paleta_colores, color_fuente_invertido);
                    position:absolute;
                    top:210px;
                    right:20px;
                    font-size: 0.8rem !important;
               }
            } 
        }
        
    }
}

.card-galeria{
    max-height: 600px !important;
    overflow: hidden;
    z-index: 0;
}