/*Maps*/
/*Reset Gral - Ver basics.scss*/
$reset:(
    marg:0,
    padd:0,
    box-s: border-box
);

/*Map que Define la Paleta de Colores del Proyecto - Ver basics.scss*/
$paleta_colores:(
    color_cuerpo: $body_color,
    color_fuente_cuerpo: $body_font_color,
    color_pie:  $footer_color,
    color_tarjeta: $card_color,
    color_fuente_tarjeta: $card_font_color,
    color_fondo_invertido: $color_fondo,
    color_fuente_invertido:  $color_fuente
    );



/*Mixins*/
/*Cambiar colores de fondo y texto de un componento o elemento*/
@mixin invertir_colores_cards{
    background-color:map-get($paleta_colores, color_fondo_invertido );
    color: map-get($paleta_colores, color_fuente_invertido);
    
}
@mixin barra_de_navegacion{
        margin-top: 120px;
        background-color:map-get($paleta_colores, color_pie);
        --bs-nav-link-color: map-get($paleta_colores, color_fuente_cuerpo);
        --bs-nav-link-hover-color: map-get($paleta_colores, color_fuente_invertido);
        &-item{
            padding: 5px;
        }
        &-link {
            padding: 2px;
            font-size: 0.9rem;
            font-weight: 5px;
            color: $color_fuente;
            text-decoration:map-get($paleta_colores, color_fuente_cuerpo);
            background-color:map-get($paleta_colores, color_pie);
            text-decoration-color:map-get($paleta_colores, color_fuente_cuerpo);
            &:hover{
                font-size: 1rem;
                color:map-get($paleta_colores, color_fuente_cuerpo);
            }
        }
    }
    @mixin boton_gral{
            background-color:map-get($paleta_colores, color_pie);
            z-index:2;
            width: 8rem;
            border-color: map-get($paleta_colores, color_pie);
            &:active{
                background-color:map-get($paleta_colores, color_pie) !important;
                z-index:2;
                width: 8rem;
                border-color: map-get($paleta_colores, color_pie) !important;
            }
            &:hover{
                color:map-get($paleta_colores, color_fuente_cuerpo);
            }

    }

    