/*Variables*/
//Ver Map $paleta_colores - Define el Perfil de colores del proyecto
$body_color: #c7b69f;
$body_font_color: #69503c; 
$footer_color: #ab9680;
$card_color:#c9beb0;
$card_font_color:#69503c;
/*colores de fondo y fuente - ver mixins.scss*/
$color_fondo: rgb(65, 62, 62);
$color_fuente: rgb(250, 241, 241) ;
